/*  ===== MOBILE styles (inherited by all devices) ===== 
/*  ===== See tablet, desktop, and print @media queries at the bottom.

/*   ----- Imports  -----  */


/* @font-face {                Add fonts from the server ...
  font-family: 'FontName';
  src: url('FontName.woff2') format('woff2');
}  */


/* ...or hosted services like Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


/* @import '../node_modules/modern-normalize/modern-normalize.css'; */
                            /* npm install modern-normalize 
                              Resets elements for browser consistancy.  
                              http://nicolasgallagher.com/about-normalize-css/ 
                            */

/* @import "component1.css";   Component-specific stylesheets, if any */

/*   ----- Variables  -----  */
:root {
  --custom-color:;
  --custom-size:;
}


/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {                     /* Can alternatively define in html {} or :root {} */
  color:#03045e;
  background-color: #caf0f8;
  font-family: 'PT Sans', sans-serif;
  font-size:25px;
  margin: 50px;
  padding:0px;
}

/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}


/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  background-color: #90e0ef;
  margin: 0px;
  text-align: center;
  padding: 8px;
border-left: 2px solid #03045e;
border-right: 2px solid #03045e;
line-height: normal;
}

nav a {
  color: #03045e;
  margin: 60px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  text-decoration:underline;
}

nav a:hover {
  color: #00b4d8;
}

/*  ----- Page layout blocks -----  */
header {
  color:#caf0f8;
  background-color: #03045e;
  margin: 0px;
  text-align: center;
  padding: 1%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: large;
  font-weight: bold;
  border: #03045e;
}

main {
color: #0077b6;
padding-left: 15px;
padding-top: 0px;
background-color: white;
border-left: 2px solid #03045e;
border-right: 2px solid #03045e;
border-top: 2px solid #03045e;
padding-bottom: 20px;
}

section {}
  article {}
    #topic1 {}
    #topic2 {}
    #gallery1 {}
    #gallery2 {}
div {}
aside {}

footer {
  color:#caf0f8;
  background-color: #03045e;
  margin: 0px;
  text-align: center;
  padding: 1%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: large;
  font-weight: bold;
  border: #03045e;
}

/*  -----  Typography  ----- */

p {
  text-align: center;
  margin: 0px;
  padding: 5px;
}

br {}
ol, ul, dl {}
li {}
dt {}
dd {}


h1, h2, h3, h4, h5, h6 {} /* Define consistant font family.*/
h1 {}
h2 {
  text-align: center;
  margin:0px;
  padding: 5px;
}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  padding: 15px  
}

caption {
  font-weight: bold;
}

thead {}
tbody {}
tfoot {}
tr {}
  tr:nth-child(even) {}

th {
  background-color: #0077b6;
  color: white;
}

td {}
  td:nth-child(1) {}
colgroup {}
data {}
datalist {}



/*  ----- Form ----- */
form {
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Sans', sans-serif;
}

fieldset {
  text-align: center;
}

legend {}


label {
  padding-right: 10px;
  vertical-align: middle;
}

  button {
    padding: 20px;
font-weight: bold;
vertical-align: middle;
margin-left: 10px;
font-size: large;
font-family: 'PT Sans', sans-serif;
  }

  input {
padding: 20px;
font-weight: bold;
vertical-align: middle;
font-size: large;
font-family: 'PT Sans', sans-serif;
  }

  output {}
  meter {}
  progress {}
  select {}
    optgroup {}
    option {}
  textarea {}

/* ----- Media ----- */
figure {}
  figcaption {}
img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}


/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}